@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('./font-awesome-4.7.0/css/font-awesome.min.css');

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    /* color: rgb(255, 81, 0); */
    color: #e74c3c;
}
.main-area{
    display: flex;
    flex-direction: row;
}
.bread-crumb-content{
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    height: 50px;
}

.main-content {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    height: 65%;
    /* border-bottom: 1px solid #ebebeb; */
    display: flex;
}

.main-content-left {
    width: 35%;
    /* border: 1px solid #e74c3c; */
    /* transition: width 0.5s linear; */
    display: flex;
    flex-direction: row;    
}

.main-content-right {
    width: 65%;
    overflow-y: auto;    
}

.main-content-left:hover {
    /* width: 350px; */
}

.main-content .info-card {
    transition: all 1s linear; 
}

.main-content .info-card.shrink {
    width: 0px;
    height: 0px;

}

.main-content .info-card:hover {
    border: 1px solid #e74c3c;
    background-color: #ffffff;
    color: #e74c3c;    
}

.main-content .info-card-title {
    /* background-color: #2b2b2b; */
    /* border: 1px solid rgb(255, 81, 0); */
    background-color: #e74c3c;
    color: #ffffff;

}

.main-content .info-card-additional {
    /* background-color: #2b2b2b; */
    font-size: 12px;    
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.main-content .info-card-additional .info-card-additional-item {
    padding: 2px;
    margin-left: 5px;
}

.additional-content {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30%;
    box-shadow: 0px 1px 8px 2px #d3d3d3;
}

.search-folder {
    border-bottom: 1px solid #e74c3c;
    height: 25px;
}

.search-folder .search-folder-input {
    border: 0px;
    outline: none;
    margin: 0px 0px 4px 5px;
    font-size: 15px;
    color: #e74c3c;
}

.search-folder .search-folder-advanced {
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    
}
