@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 81, 0);
}
.main-area{
    display: flex;
    flex-direction: row;
}